body {
    font-family: Arial, Helvetica, sans-serif;
}
#content {
    background-color: #a8dadc;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: #457b9d;
    padding: 10px;
}

#content p:nth-child(2n + 1) {
    color: #e63946;
}

img{
    float: right;
}

ul > li {
    list-style: none;
    background-color: tomato;
    padding: 10px;
    margin: 10px;
    text-align: center;
    color: #eeeeee;
    width: 20%;
    display: inline-block;
}

#wrapper {
    background-color: #cccccc;
    border-radius: 4px;
}

.container {
    width:100px;
    height:100px;
    background-color: #e63946;
    margin: 20px;
    border-radius: 50%;
    padding:10px;
    position: relative;
    top: 20px;
    left: 50px;
}